In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('E:\IRIS.csv')
data.head(10)

C:\Users\Uday Sai\PycharmProjects\december\venv\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1
5           5.4          3.9           1.7          0.4        1
6           4.6          3.4           1.4          0.3        1
7           5.0          3.4           1.5          0.2        1
8           4.4          2.9           1.4          0.2        1
9           4.9          3.1           1.5          0.1        1

In [2]:
x = data.copy()

In [3]:
y = x.pop('species')

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [6]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
137           6.4          3.1           5.5          1.8
84            5.4          3.0           4.5          1.5
27            5.2          3.5           1.5          0.2
127           6.1          3.0           4.9          1.8
132           6.4          2.8           5.6          2.2

In [7]:
from sklearn.linear_model import LinearRegression
linR =LinearRegression()
linR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
y_predict = linR.predict(x_test)

In [10]:
y_predict

array([3.06703909, 1.96488074, 0.85405776, 2.81373137, 0.96219173,
       3.26136881, 0.97315832, 2.3195563 , 2.28300114, 2.11288966,
       2.54909827, 2.30153965, 2.2127103 , 2.32986888, 2.33047544,
       0.92394551, 2.35607655, 2.21563955, 1.0373887 , 0.97550338,
       2.79885764, 2.3946086 , 1.07528911, 1.02303999, 2.59033372,
       0.88193412, 1.14915066, 2.1671282 , 1.90650885, 1.10691577])

In [11]:
y_test

114    3
62     2
33     1
107    3
7      1
100    3
40     1
86     2
76     2
71     2
134    3
51     2
73     2
54     2
63     2
37     1
78     2
90     2
45     1
16     1
121    3
66     2
24     1
8      1
126    3
22     1
44     1
97     2
93     2
26     1
Name: species, dtype: int64

In [12]:
round(y_predict)

TypeError: type numpy.ndarray doesn't define __round__ method

In [13]:
size(y_predict)

NameError: name 'size' is not defined

In [15]:
y_predict.shape

(30,)

In [16]:
for i in range(30):
    round(y_predict[i])

In [17]:
y_predict

array([3.06703909, 1.96488074, 0.85405776, 2.81373137, 0.96219173,
       3.26136881, 0.97315832, 2.3195563 , 2.28300114, 2.11288966,
       2.54909827, 2.30153965, 2.2127103 , 2.32986888, 2.33047544,
       0.92394551, 2.35607655, 2.21563955, 1.0373887 , 0.97550338,
       2.79885764, 2.3946086 , 1.07528911, 1.02303999, 2.59033372,
       0.88193412, 1.14915066, 2.1671282 , 1.90650885, 1.10691577])

In [20]:
from sklearn.metrics import classification_report

In [27]:
classification_report(y_test,y_predict)

'              precision    recall  f1-score   support\n\n           1       1.00      1.00      1.00        11\n           2       1.00      1.00      1.00        13\n           3       1.00      1.00      1.00         6\n\n   micro avg       1.00      1.00      1.00        30\n   macro avg       1.00      1.00      1.00        30\nweighted avg       1.00      1.00      1.00        30\n'

In [22]:
y_predict[0]

3.0670390889137797

In [23]:
for i  in range(30):
    y_predict[i] = round(y_predict[i])

In [24]:
y_predict[0]

3.0

In [25]:
for i  in range(30):
    y_predict[i] = int(y_predict[i])

In [26]:
y_predict[0]

3.0